.search {
  width: 300px;
  margin: 0 1rem;
}
@media (max-width: 800px) {
  .search {
    width: auto;
  }
}
.search-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 1rem;
}
.search-input {
  flex-grow: 1;
}
.search-button {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  width: 50px;
}
.search-button-icon {
  width: 24px;
  height: 24px;
}
.search-results {
  max-height: 800px;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}
.search-result {
  width: 100%;
}